$purple1 : #7161ef;
$purple2 : #957fef;
$purple3 : #b79ced;
$pink : #dec0f1;
$tan : #efd9ce;

$primary-text: #424242;
$secondary-text: #616161;
$divider-color: #eeeeee;

$hero-color: $purple1;
$hero-font-color: white;

//colors
$primary-color         : $purple1;
$primary-color-light    : $purple2;
$primary-color-dark     : darken($purple1, 5%);
$secondary-color       : $tan;
$action-color         : $pink;
